{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Australian Suburbs plugin for Craft CMS
 *
 * Suburbs Utility Content
 *
 * @author    Simple Integrated Marketing
 * @copyright Copyright (c) 2022 Simple Integrated Marketing
 * @link      https://simple.com.au
 * @package   AustralianSuburbs
 * @since     1.0.0
 */
#}

<h1>Suburbs</h1>

{% set allSuburbs = craft.australianSuburbs.all() %}
{% set searchResult = craft.australianSuburbs.query({}).one() %}

<p>Total of <b>{{ allSuburbs|length }}</b> in the system</p>
{% if allSuburbs|length %}
    <p>Last updated: <b>{{ allSuburbs[0].dateUpdated|date }}</b></p>
{% endif %}

<form method="POST">
    {{ csrfInput() }}
    {{ actionInput("australian-suburbs/suburbs/import") }}
    <p>The suburbs are sourced from the data provided by <a href="https://www.matthewproctor.com/australian_postcodes" target="_blank">Matthew Proctor</a></p>
    <input type="submit" value="Update" class='submit btn'>
</form>